
# Take exposures once per minute at night
* 17-23 * * * /usr/local/bin/oculus.csh
* 00-09 * * * /usr/local/bin/oculus.csh

# To be tested if exposures at night are actually any use as darks or not
#00 01 * * * /usr/local/bin/skycam_autodark.csh

# Transfer back to ARI
* * * * * /usr/local/bin/ari_xfer_inst /usr/local/etc/xfer_oculus.cfg 2

# Backup data and purge disk of data that have gone to TQH
# Idendical scrip to that running on skycamtz
0 15 * * * /usr/local/bin/purge_skycam skycama 

# Daily rotate transfer logs when they get too big and truncate the list of transfered files
#30 14 * * * /usr/sbin/logrotate -s /icc/tmp/logrotate.state /usr/local/etc/logrotate.cfg


